/*selectores*/
#main {}

/*class*/
.contenedor {}

/*tag*/
section {}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #131921;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

#login-btn {
  color: #fff;
  background-color: #111; /* Match your existing button color */
  position: absolute;
  top: 10px; /* Adjust top padding as needed */
  right: 10px; /* Adjust right padding as needed */
}

.hero {
  background-color: #F0C14B;
  padding: 50px;
  text-align: center;
  color: #111;
}

.destacados {
  text-align: center;
  padding: 50px;
}

.destacados h2 {
  margin-bottom: 30px;
}

.products {
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  justify-items: center;
  align-items: center;
  text-align: center;
}

.products h2 {
  text-align: center;
  margin-bottom: 30px;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 20px;
}

.product img {
  width: 100%;
  max-width: 250px;
  height: auto;
  object-fit: cover;
}

.product-info {
  flex-grow: 1;
  max-width: 250px;
}

.product h3 {
  margin-top: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.product p {
    color: #888;
    max-width: 250px;
    word-wrap: break-word;
}



footer {
  background-color: #232f3e;
  padding: 10px;
  color: #fff;
  text-align: center;
}

.btn {
  display: inline-block;
  background-color: #0066c0;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  margin-top: 10px;
  transition: background-color 0.3s; 
}

.btn:hover {
  background-color: #0088ff;
}
